.Home_Card3_card3 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.Home_Card3_title {
    /* logo red */
    color: #f0584a;
    /* logo yellow */
    /* color: #ffc845; */
    text-transform: lowercase;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Courier New", Courier, monospace;
    /* font-size: 25px; */
}

.Home_Card3_body {
    color: #333333;
}