/*html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}*/

.Home_Team_container {
    padding: 64px;
}

.Home_Team_title {
    /*color: #47a5de;*/
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.Home_Team_column {
    float: left;
    width: 33.3%;
    padding: 20px;
    margin-bottom: 16px;
    /*padding: 0 8px;*/
}

.Home_Team_row {
    color: #000;
    margin: 0 -5px;
}

@media screen and (max-width: 900px) {
    .Home_Team_column {
        width: 100%;
        display: block;
        margin-bottom: 16px;
    }
}

.Home_Team_row::after {
    content: "";
    clear: both;
    display: table;
}