.Home_TopNav_bg-transparent {
    background-color: transparent !important;
    transition: 0.4s;
}

.Home_TopNav_logo-medium {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.Home_TopNav_logo-thin {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
}