.Home_WebApp_container {
    padding: 64px;
}

.Home_WebApp_title {
    /* deep blue */
    color: #255298;
    color: #47a5de;
    /* logo red */
    /* color: #f0584a; */
    /* logo yellow */
    /* color: #ffc845; */
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.Home_WebApp_column {
    float: left;
    width: 33.33%;
    padding: 20px;
}
  
.Home_WebApp_row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 900px) {
    .Home_WebApp_column {
        width: 100%;
    }
}