.Home_WebApp3_container {
    padding: 64px;
    background-color: #f1f1f1;
}

.Home_WebApp3_column {
    float: left;
    width: 33.33%;
    padding: 20px;
}

.Home_WebApp3_row {
    margin: 0 -5px;
}

.Home_WebApp3_row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    .Home_WebApp3_column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.Home_WebApp3_title {
    /*color: #47a5de;*/
    color: #000000;
    /* logo red */
    /* color: #f0584a; */
    /* logo yellow */
    /* color: #ffc845; */
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}